### Project: INM713-coursework
**Author**: Zac Detorakis (zacharias.detorakis@city.ac.uk)

**Version**: 1.0<br>
**Date**: 15/03/2021

In [1]:
# Import Libraries
from rdflib import Graph
from rdflib import URIRef, BNode, Literal
from rdflib import Namespace
from rdflib.namespace import OWL, RDF, RDFS, FOAF, XSD
# from rdflib.util import guess_format
import pandas as pd
import math
from SPARQLWrapper import SPARQLWrapper, JSON
from stringcmp import isub
from lookup import DBpediaLookup
# import csv

# import owlrl

In [2]:
class FinalCoursework(object):
    """
    This will contain the solution for the coursework for the SW&KGT
    """
    
    def __init__(self, input_csv):
        
        # The file containing the data to load in the KG
        self.file = input_csv
        
        #Intialise the KG
        self.g = Graph()
        
        #setup the ontology IRI used for the courseworkontology..
        self.zdetor_ns_str= "https://www.city.ac.uk/ds/inm713/zacharias_detorakis/"
        #Special namspaces class to create directly URIRefs in python.           
        self.zdetor = Namespace(self.zdetor_ns_str)
        #Prefixes for the serialization
        self.g.bind("zdetor", self.zdetor)
        
        self.classStringToURI = dict()
        
        
        #read the raw data into a dataframe
#         self.df = pd.read_csv(filepath_or_buffer = self.file, sep=',', quotechar='"',escapechar="\\")
        self.df = []
if __name__ == '__main__':
    input_csv = "INM713_coursework_data_pizza_8358_1_reduced.csv"
#     input_csv = "INM713_coursework_data_pizza_8358_1_reduced - small.csv"
    
    solution = FinalCoursework(input_csv)

First of all we need to perform some exploratory data analysis before we start loading the data to ensure the data consistency and perhaps perform a bit of data cleansing.
We will start with the address part as that is the easiest one to profile.

Given that the addresses are unique per restaurant and then repeated for all menu items of that restaurant we will get a subsection of the df to better assess the extent of problematic records that need fixing. As per our ontology, the address properties are:
* address (i.e. representing the address line)
* city
* country
* state and
* postcode

In [3]:
solution.df = pd.read_csv(filepath_or_buffer = solution.file, sep=',', quotechar='"',escapechar="\\")

First we inspect the restaurants and we see that there are more addresses than restaurants. Based on our ontology a restaurant can only be in one address therefore we need to idenditify those restaurant and create a new URI for them.

In [4]:
print(f"Number of unique restaurant names: {len(solution.df.groupby(['name']))}")
print(f"Number of unique address lines: {len(solution.df.groupby(['name','address']))}")

Number of unique restaurant names: 933
Number of unique address lines: 989

# DATA PREPROCESSING

In [5]:
def findNewRestaurantName(original_value,mapping_dict):
    """
    A function used to map a given value to a new one as defined in the mapping dictionary
    ...

    Attributes
    ----------
    original_value : str
        the original value to be mapped. In this case this will be the concatenated field (name+address)
    mapping_dict : dict
        this is a dictionary where the 'key' is the original value and the 'value' is the new value it maps to
    """
    try:
        return mapping_dict[original_value]
    except:
        return 'invalid'

def createNewRestaurantNames(original_df):
    # group the restaurant by name and filter out any restaurant with exactly one address
    df_group = pd.DataFrame(original_df.groupby('name')['address'].nunique())
    df_dup_restaurants = df_group[df_group.address>1]

    # next we create a new version of the df to add the new name column
    new_df = solution.df
    # for now populate the column with a concatenation of name and address
    new_df['new_name']=new_df.apply(lambda x:'%s_%s' % (x['name'],x['address']),axis=1)

    # next we create a termporary dataframe to store the name and concatenated column. drop the duplicates (from the multiple menu items) and sort the df
    temp = new_df[['name', 'new_name']].drop_duplicates()
    temp.sort_values(by='name',inplace=True)

    # finally create a dictionary mappin the concatenated field to a new restaurant name by 
    # - adding a sequence number at the end of the duplicates or 
    # - reusing the existing name for restaurants that appear only once
    prev_name = ''
    incr = 1
    new_name_dict = {}
    for index, row in temp.iterrows():
        if row['name'] == prev_name:
            incr += 1
        else:
            incr = 1

        if row['name'] in str(df_dup_restaurants.index):
            new_name_dict[row['new_name']]= row['name'] + '___' + str(incr)
            prev_name = row['name']
        else:
            new_name_dict[row['new_name']]= row['name']

    # Finally apply the function to map the concatenated field to the new name
    new_df['new_name'] = new_df['new_name'].apply(lambda x: findNewRestaurantName(x,new_name_dict))
    # new_df.to_csv("temp.csv")
    return new_df

In [6]:
createNewRestaurantNames(solution.df).head()

,name,address,city,country,postcode,state,categories,menu item,item value,currency,item description,new_name
0,Bertucci's,2929 Berlin Tpke,Newington,US,6111.0,Htfd,"Restaurants,Italian Restaurants,Pizza",Any Brick Oven Pizza,NaN,NaN,Small,Bertucci's___1
1,Bertucci's,2929 Berlin Tpke,Newington,US,6111.0,Htfd,"Restaurants,Italian Restaurants,Pizza",Bbq Chicken Pizza,10.99,USD,BBQ chicken marinated in a smoky hickory BBQ s...,Bertucci's___1
2,Bertucci's,2929 Berlin Tpke,Newington,US,6111.0,Htfd,"Restaurants,Italian Restaurants,Pizza",Buffalo Chicken Flatbread Pizza,8.49,USD,Grilled chicken tossed with buffalo sauce. Top...,Bertucci's___1
3,Bertucci's,2929 Berlin Tpke,Newington,US,6111.0,Htfd,"Restaurants,Italian Restaurants,Pizza",Cheese Party Pizza,5.00,USD,NaN,Bertucci's___1
4,Bertucci's,2929 Berlin Tpke,Newington,US,6111.0,Htfd,"Restaurants,Italian Restaurants,Pizza",Cheese Pizza,10.29,USD,NaN,Bertucci's___1

In [7]:
# new_df.to_csv("temp.csv")

In [8]:
print(solution.g.serialize(format="turtle").decode("utf-8"))

# CREATE TRIPLES

In [ ]:
def getExternalKGURI(name):
    '''
    Approximate solution: We get the entity with highest lexical similarity
    The use of context may be necessary in some cases        
    '''
    
    dbpedia = DBpediaLookup()
    entities = dbpedia.getKGEntities(name, 200)
    #print("Entities from DBPedia:")
    current_sim = -1
    current_uri=''
    for ent in entities:           
        isub_score = isub(name, ent.label) 
        if current_sim < isub_score:
            current_uri = ent.ident
            current_sim = isub_score

#     print(current_uri)
    return current_uri

def mappingToCreateTypeTriple(df, subject_column, class_type, use_external_uri, classStringToURI):
    
    # First we create a new key for the class with a value of another dictionary
    classStringToURI[subject_column] = dict()

    # Then we iterate through the rows in the subject column and either reuse an existing URI of contruct it from scratch
    for subject in df[subject_column]:

        #We use the subject_column value to create the fresh URI if this if the first time we see that value. 
        # If we've seen the value before we do not do anything since we've already added the tripple to the graph
        if subject.lower() not in classStringToURI[subject_column]:
            if use_external_uri:
                entity_uri =  getExternalKGURI(subject.lower())
            else:
                entity_uri = solution.zdetor_ns_str + subject.replace(" ", "_").replace("'","_").replace("&","_")
            classStringToURI[subject_column][subject.lower()] = entity_uri
            #Add the tripple to the KG
            solution.g.add((URIRef(entity_uri), RDF.type, class_type))

# def CovertCSVToRDF(solution.df):
# this is an empty dictionary of the format {'class':{'string': uri}}
solution.classStringToURI = dict()

if 'new_name' in solution.df:
    mappingToCreateTypeTriple(solution.df,'new_name',solution.zdetor.Restaurant, False, solution.classStringToURI)

solution.g.bind("dpo", Namespace("http://dbpedia.org/resource/"))
if 'city' in solution.df:
    mappingToCreateTypeTriple(solution.df,'city',solution.zdetor.City, True, solution.classStringToURI)

if 'country' in solution.df:
    mappingToCreateTypeTriple(solution.df,'country',solution.zdetor.Country, True, solution.classStringToURI)

In [ ]:
solution.classStringToURI

In [ ]:
# df_data = pd.read_excel(io="uscities.xlsx", sheet_name="Sheet3", keep_default_na=False, na_values='NULL')
# for i in df_data.iso1:
#     print(i, getExternalKGURI(i))

# STATE

In [5]:
# Construct the address dataframe with the columns related to the restaurant addresses. 
# We'll keep the name column in there just for reference so we can count restaurant with problematic addresses

df_address = solution.df[['name','address','city','country','state','postcode']]
print(f"There are a total of: {len(df_address)} restaurant/menu_items")

# remove duplicate rows
df_address = df_address.drop_duplicates()
print(f"There are a total of: {len(df_address)} restaurants")

There are a total of: 3510 restaurant/menu_items
There are a total of: 991 restaurants

In [6]:
# Check the country column
df_address['country'].value_counts()

US    991
Name: country, dtype: int64

looks like the country colunn in the specific file is always populated with the country US and doesn't need any cleansing

In [7]:
# Check the state column
print(f'There are {len(df_address["state"].unique())} unique values for state')
print(f'There are {round((len(df_address[df_address["state"].str.len()>2])/len(df_address))*100,2)}% where the state is not 2 characters long')
print(f'There are {round((len(df_address[df_address["state"].str.len()==2])/len(df_address))*100,2)}% where the state is exactly 2 characters long')

There are 281 unique values for state
There are 29.97% where the state is not 2 characters long
There are 70.03% where the state is exactly 2 characters long

Given that all the addresses are in the US and our prior knowledge that there are 52 states in the US, the 281 unique values in the state column imply that the column is sometimes used to store other type of information.
We can visually inspect this information by checking some of the problematic records

In [8]:
problematic_state_df = df_address[df_address.state.apply(lambda x: len(str(x))!=2)]
display(problematic_state_df.head(10))

,name,address,city,country,state,postcode
2,The Brentwood,148 S Barrington Ave,Los Angeles,US,Brentwood,90049
7,Bravo Pizza Hollywood,5142 Hollywood Blvd,Los Angeles,US,Los Feliz,90027
21,Francesca's On Chestnut,200 E Chestnut St,Chicago,US,Ontario Street,60611
62,Tower Hill Tavern,264 Lakeside Ave,Laconia,US,Weirs Beach,3246
81,Nino's Trattoria & Pizzeria,111 Lawrence Rd,Lawrence Township,US,Lawrenceville,8648
110,Brothers 2,2901 Watson Blvd,Endicott,US,Crestview Heights,13760
128,Stissing House,7801 S Main St,Pine Plains,US,Mount Ross,12567
129,Larosa's Pizzeria,901 Loveland Madeira Rd,Loveland,US,Murdock,45140
133,The Lookout Catering,8680 Pineview Ln N,Osseo,US,Hassan,55369
135,Boston's Restaurant & Sports Bar,14004 E Indiana Ave,Spokane,US,City Of Spokane Valley,99216

Indeed some of the values are values of city, some are

The above results indicate that for 30% of restaurants we may need to fix the state column

In [8]:
# https://solidproject.org/developers/vocabularies/well-known

In [9]:
def loadStateISO2UrisFromDBPedia(classStringToURI):
    endpoint_url = "http://dbpedia.org/sparql"

    sparqlw = SPARQLWrapper(endpoint_url)
    sparqlw.setReturnFormat(JSON)
    
    #Create the sparql query to get the URIs for the states from the iso2 state code
    state_iso2_query = """
    SELECT ?state ?iso2StateCode
    WHERE {
        ?state  dct:subject dbc:States_of_the_United_States;
                dbo:postalCode ?iso2StateCode.
    FILTER (?iso2StateCode != "").
    }
    """
    
    sparqlw.setQuery(state_iso2_query)
    state_results = sparqlw.query().convert()

    # create a new key for the states and...
    classStringToURI['state'] = dict()

    # the the code to URI mappings
    for state in state_results['results']['bindings']:
        classStringToURI['state'][state['iso2StateCode']['value']] = state['state']['value']


loadStateISO2UrisFromDBPedia(solution.classStringToURI)

In [10]:
# solution.classStringToURI
print(solution.g.serialize(format="turtle").decode("utf-8"))

In [22]:
def convertPostCodeStringToPostCodes(post_code):
    import re

    #create a new empty list for the post codes
    post_code_list = []
    
    #separate the post codes by commas first
    separate_val = re.split(r'[,( ]\s*', post_code.replace("- ", "-").replace("– ","–")) 
    for val in separate_val:

        #the within each value we check if we have a range
        if ((val.find('–')>0) or (val.find('-')>0)) :
            pc_range = re.split(r'[-–]\s*', val)
#             print(pc_range)
            #if we do have a range then we create all the post codes in that range and append them to the list
            try:
                for pc in range(int(pc_range[0]),int(pc_range[1])+1):
                #we append the post codes as strings and if need be we add leading zeros to make the string 5 characters long
                    post_code_list.append(str(pc).zfill(5))
            except:
                pass
                    
        else:
            try:
                int(val)
                post_code_list.append(val)
            except:
                pass
    return post_code_list

def createPostCode2StateMap():
    
    
    #first we create a list of all the post codes and the cities from DBpedia
    endpoint_url = "http://dbpedia.org/sparql"

    sparqlw = SPARQLWrapper(endpoint_url)
    sparqlw.setReturnFormat(JSON)

    query = """
    SELECT ?city ?state str(?cityName) ?iso2StateCode ?postCode
    WHERE {
        ?state  dct:subject dbc:States_of_the_United_States;
                dbo:postalCode ?iso2StateCode.
        ?city   a dbo:City;
                dbo:subdivision ?state;
                rdfs:label ?cityName;
                dbo:postalCode ?postCode.

    FILTER (?iso2StateCode != "").
    FILTER langMatches( lang(?cityName), "en" )
    }
    """
    sparqlw.setQuery(query)
    results = sparqlw.query().convert()
    
    #next we create a temporary dictionary with the post code string and the state code. However the post code in this dictionary is sometimes a range or a combination of post codes and ranges
    temp_post_dict = dict()
    for i in results['results']['bindings']:
        temp_post_dict[i['postCode']['value']] = i['iso2StateCode']['value']
    
    # Finally we reprocess the temp_post_dict post codes so we have extract all the post codes from the ranges and still map them to the same state
    postcode_to_state = dict()
    for post_code in temp_post_dict.keys():
        for pc in convertPostCodeStringToPostCodes(post_code):
            postcode_to_state[pc] = temp_post_dict[post_code]
    
    
    # next we create a dictionary with cities and states        
    city_to_state = dict()
    for row in results['results']['bindings']:
        city_to_state[row['callret-2']['value']] = row['iso2StateCode']['value']
    
    return postcode_to_state, city_to_state

def findStateByPostCodeCity(postcode, city, postcode_to_state, city_to_state):
    """
    A function used to map a given post code or city in the US to the respective state. Exact matches are expected instead of lexical similarity
    ...

    Attributes
    ----------
    postcode : str
        the post code to be mapped
    city : str
        the city to be mapped. Unlike the post code the city can be matched if it exists as a substring in the dictionary
    """
    
    try:
        return postcode_to_state[postcode]
    except:
        try:
            lst = [value for key, value in city_to_state.items() if city.lower() in key.lower()]
            return max(set(lst), key=lst.count)
        except:
            pass
            

postcode_to_state, city_to_state = createPostCode2StateMap()

In [26]:
df_address['new_state'] = df_address.apply(lambda x: x.state if len(x.state)==2 else findStateByPostCodeCity(x.postcode,x.city, postcode_to_state, city_to_state),axis=1)

In [27]:
df_address

,name,address,city,country,state,postcode,new_state
0,Little Pizza Paradise,Cascade Village Mall Across From Target,Bend,US,OR,97701,OR
2,The Brentwood,148 S Barrington Ave,Los Angeles,US,Brentwood,90049,CA
7,Bravo Pizza Hollywood,5142 Hollywood Blvd,Los Angeles,US,Los Feliz,90027,CA
13,Lucky's Pub,801 Saint Emanuel St,Houston,US,TX,77003,TX
14,Roadhouse Cafe,478 South St,Hyannis,US,MA,2601,MA
16,Brigham Young University,1 N University Hl,Provo,US,UT,84602,UT
20,Luke's Locker,9595 Six Pines Dr,Spring,US,TX,77380,TX
21,Francesca's On Chestnut,200 E Chestnut St,Chicago,US,Ontario Street,60611,IL
25,Country Bagel Bakery,145 E Gay St,West Chester,US,PA,NaN,PA
31,Country Bagel Bakery,145 E Gay St,West Chester,US,PA,19380,PA
32,Buca Di Beppo - San Jose - Oakridge,925 Blossom Hill Road Oakridge Mall,San Jose,US,CA,95123,CA
33,Giovanni's Pizza and Pasta,26900 Newport Rd,Menifee,US,CA,92584,CA
42,Uncle John's Pizza,3480 S Carrier Pkwy,Grand Prairie,US,TX,75052,TX
44,Philly's Subs,2111 Stewart Ave,Wausau,US,WI,54401,WI
45,Satsuma,1707 Delaware Ave,Wilmington,US,DE,19806,DE
47,Gatehouse Restaurant,116 Ann St,Pickens,US,SC,29671,SC
48,Imo's Pizza,2000 El Lago Dr,Arnold,US,MO,63010,MO
53,Applebee's Tracy,3060 Naglee Rd,Tracy,US,CA,95304,CA
54,Little Caesars Pizza,2619 Red Bluff Kroger Jct,Pasadena,US,TX,77506,TX
57,Joey's N Y Pizza,11165 S Eastern Ave,Henderson,US,NV,89052,NV
61,Keyme,21100 91st Pl S,Kent,US,WA,98031,WA
62,Tower Hill Tavern,264 Lakeside Ave,Laconia,US,Weirs Beach,3246,NH
63,Brio Tuscan Grille - Southlake - Southlake Tow...,1431 Plaza Pl,Southlake,US,TX,76092,TX
64,Doubledave's Pizza Works,3505 A Longmire Dr,College Station,US,TX,77845,TX
66,Frank's Pizzeria,711 N 132nd St,Omaha,US,NE,68154,NE
71,Casino's Pizza,190 N Swift Rd,Addison,US,IL,60101,IL
73,Glutenfree Things,11651 W 64th Ave,Arvada,US,CO,80004,CO
75,Mediterraneo Ristorante,22 Englar Rd,Westminster,US,MD,21157,MD
76,Patrick Molloy's Sports Pub,50a,Hermosa Beach,US,CA,90254,CA
79,Salerno's Pizza Restaurant,19 Kelly St,Luzerne,US,PA,18709,PA
...,...,...,...,...,...,...,...
3422,Redbox,284 Civic Center Dr,Augusta,US,Togus,4330,KY
3423,Villaggio Ristorante,150 07 14th Rd,Whitestone,US,Malba,11357,None
3424,Mc Kitchen,4141 N E 2nd Ave 101a,Miami,US,FL,33137,FL
3425,Bravo Cucina Italiana - Rochester Hills,286 N Adams Rd,Rochester,US,MI,48309,MI
3431,The James New York,27 Grand St,New York,US,Manhattan,10013,NY
3432,Joe's Grill & Cantina,3400 S 74th St,Fort Smith,US,AR,72903,AR
3433,Mainland Grille,2250 Rittenhouse Rd,Harleysville,US,PA,19438,PA
3438,"Mineo's Wings, Pizza & Raw Bar",4261 Griffin Rd,Fort Lauderdale,US,Dania Beach,33314,FL
3444,Quinnipiac Pizza Deli,1653 Quinnipiac Ave,New Haven,US,Fair Haven,6513,KY
3453,The Loophole,2817 Maybank Hwy,Johns Island,US,Seabrook Island,29455,SC
3455,Massey's Pizza,2970 Sullivant Ave,Columbus,US,Valleyview,43204,OH
3457,Bulldog Ale House - Bolingbrook,157 S Weber Rd,Bolingbrook,US,IL,60490,IL
3469,Wilmington House of Pizza,1016 S College Rd,Wilmington,US,Wilm,28403,NC
3471,Mount Laurel Bagels & Bakery,888 Union Mill Rd,Mount Laurel,US,Mount Laurel Township,8054,None
3472,Deangelo's,2620 E Third St,Bloomington,US,IN,47401,IN
3475,Russo's Coal-fired Italian Kitchen,14910 Pines Blvd,Hollywood,US,Pembroke Pnes,33027,FL
3476,Nostrana,1401 S E Morrison,Portland,US,OR,97214,OR
3478,Osteria Procaccini,101 Tree Farm Vlg,Pennington,US,NJ,8534,NJ
3480,Romio's Pizza & Pasta - Downtown,927 Howell St,Seattle,US,WA,98101,WA
3485,Pietro's Restaurante,645 Boardwalk Blvd,Bossier City,US,LA,71111,LA
3486,The Melting Pot - Boise,200 N 6th St,Boise,US,ID,83702,ID
3488,Famous Famiglia,757 Broadway,New York,US,Manhattan,10003,NY
3492,Carvalho's Brazilian Kitchen,23623 N Scottsdale Rd D107,Scottsdale,US,AZ,85255,AZ
3493,Rosa Mexicano,1063 1st Ave,New York,US,Manhattan,10022,NY
3494,The Pizza Parlor,2810 Business Center Dr,Pearland,US,TX,77584,TX
3498,Rick's Cabaret,3551 Lafayette Rd,Indianapolis,US,IN,46222,IN
3499,Mighty Mick's Pub & Cafe,10727 Randolph Saint Crown Point In,Crown Point,US,Palmer,46307,IN
3500,Prison Brews Brewery & Restaurant,305 Ash St,Jefferson City,US,Honey Creek,65101,MO
3507,Moonlight Cafe,4140 Carlisle Rd,Dover,US,Davidsburg,17315,MN
3509,Guidos,9563 Kings Charter Doctor B,Ashland,US,VA,23005,VA

In [32]:
def mappingToCreateStateTypeTriple(df, subject_column, class_type, classStringToURI):
    
    problem = []
    found = 0
    not_found = 0
    # Then we iterate through the rows in the subject column and either reuse an existing URI of contruct it from scratch
    for subject in df[subject_column]:

        #We use the subject_column value to create the fresh URI if this if the first time we see that value. 
        # If we've seen the value before we do not do anything since we've already added the tripple to the graph
        if subject in classStringToURI[subject_column]:
            found += 1
        else:
            not_found += 1
    print(f"Founs: {found}, Not found: {not_found}")
    return 

mappingToCreateStateTypeTriple(df_address, 'new_state',solution.zdetor.State, solution.classStringToURI)

KeyError: 'new_state'